<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smtm7">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">
        
        <activity
            android:name=".ScreenActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AirButton.CaptureActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true">
        </activity>

        <activity android:name=".LoginActivity"/>

        <activity android:name=".SignUpActivity"></activity>
        <activity android:name=".Certification"></activity>

        <activity android:name=".InitialSetting.EmailInterlock"></activity>
        <activity android:name=".InitialSetting.CertificationSetting">
        </activity>

        <activity
            android:name=".AirButton.FloatingActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true">
        </activity>

        <activity android:name=".DetailsView.DetailsActivity"/>
        <activity android:name=".DetailsView.SelectPG"/>
        <activity android:name=".DetailsView.SelectDate"/>
        <activity android:name=".DetailsView.SelectPrice"/>
        <activity android:name=".DetailsView.SettingEmail"/>
        <activity android:name=".DetailsView.SettingPw"/>

        <service android:name=".AirButton.FloatingService"
            android:enabled="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW">
        </service>

        <service android:name=".AirButton.CaptureService"
            android:enabled="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW">

        </service>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
</manifest>